
html,body{
    overflow-x: hidden;
}


.container2 {
    display: none;
    cursor: pointer;
    position: relative;
    left: 14rem;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 5;
   
    
  }
  #secondHeader{
    display: none;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 0px;
    position: sticky;
    z-index: 5;
    width: 100%;
   
    height: 3.5rem;
  }
  #secondHeader h1{
    display: none;
  }

  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  #sidebar ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
  }

  #sidebar a {
    text-decoration: none;
    color: #333;
  }
  #sidebar{
    z-index: 10;
  }
#menu{
    display: flex;
    flex-direction: column;
    
}
#menu li{
    border-bottom: 2px solid #E2E2E2;
    padding: 20px;
    margin-right: 0;
    
    
}
.submenu{
    display: none;
}
.visible{
    display: flex;
    flex-direction: column;
}
.submenu li{
    border-bottom:0 !important;
}
 

.carousel-item img{
    height: auto;
    max-height: 465px;
}
#diseaseSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

#frequent-questions {
  
    align-items: center;
    text-align: center;
   
    background-color: #EAE8E8;
    margin-top: 8%;
    height: 100%;
    transition: max-height 1.5s ease-in-out;
    padding-top: 64px;
    padding-bottom: 32px;
  }
  .expandBackground{
 
    
  }

  #diabFlex{
    display: flex;
    
  }
  #hipFlex{
    display: flex;
    flex-direction: row-reverse;
  }
  #hipContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    
    margin-top:3%;
    left:0%;
  }
  #medPressao{
    border-radius: 8px;
    position: relative;
    left: 2%;
    
  }
  #hipSection{

  }
 #canetaList li{
    font-weight: 400;
    display: list-item;
    
 }
 #canetaList{
    list-style-type: disc;
    
 }
 .btn-primary{
    background-color: #256843;
    width: 7rem;
    margin-top: 8%;
    border-color: black;
 }
 #login{
    background-color: #007F4D;
    width: 7rem;
    margin-left: 90%;
 }
 #login:hover{
    background-color: #256843;
 }
 #liLogin{
    display: none;
 }

  #infoContainer {
    
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2%;
    margin-top:3%;
}
  #conhecaDiabetes{
    font-size: 1.75rem;
    font-family: Mulish,sans-serif;
    line-height: 1.2;
    font-weight: 700;
    display: block;
  }
  .marginRec{
    margin-left: 2%;
  }
  #rectanglesF,#rectanglesL{
    display: flex;

  }
  .mobile-only{
    display: none;
    position: fixed;
 
    left: -100%; 
    width: 100%; 
    height: 100%;
    background-color: #f4f4f4;
    
    transition: left 0.3s ease-in-out;
  }



  #frequent.center-text {
    display: block; 
    margin-bottom: 4%;
    font-size: 1.75rem;
  }


.arrow{
    background: url("download.svg") no-repeat center;
    position: absolute;
    right: 2%;
    
    background-size: 10px 5px;
    
    cursor: pointer;
    height: 24px;
    width: 24px;
}
  .rectangle {
    font-weight: 550;
    background-color:white;
    color: #333;
    text-align: center;
    padding: 30px;
    margin-top: 0%;
    height: 100%;
    border-radius: 6px;
    position: relative;
    width: 25%;
    font-size: 1rem;
    overflow: hidden;
    
   
   left: 23%;
    margin-bottom: 2%;
  }

.rotate{
    transform: rotateX(180deg);
    
}


.hidden {
   max-height: 300px !important;
    opacity: 1;
    
    
    
  }

 
  #additionalText1,#additionalText2,#additionalText3,#additionalText4{
    max-height: 0 ;
    overflow: hidden;
    color: 565656;
    font-size: 1rem;
    font-weight: 400;
    transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
    }
    #text3,#text2,#text1,#text4{
        margin-top: 15%;
    
    }

.background-image{


  
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}
.red-text{
    font-size: 100%;
}

#carouselExampleIndicators {
    margin-top: 0px;
    
    
    transform: none;
    position: relative;
 
}
.margemImg{
   
}
.carousel-indicators{
    display: inline;
    
   
     justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 45%;
    margin-right: 0px;
    z-index: 1;
  }
*{
    margin: 0px;
    padding: 0px;
    font-family: Mulish,sans-serif;
}
a{
  text-decoration: none;  
}

h3{
    font-size:4rem;
}
#margem p{
    font-size: 2rem;
}
#margem{
    margin-top: 10%;
    margin-left: 0%;
    
  }
.cabecalho ul {
    list-style-type: none;
  
    justify-content: space-around; 
    padding: 2;
}
.header-content {
   
    
}


.cabecalho li {
    display: inline-block;
    font-weight: 400;
}
#user{
    width: 30%;
    margin-right: 8px;
}
h1{
    font-size: 1.5vw;
   
    letter-spacing: 0px;
   font-weight: 400;
    color:#0A2F46;
    display: inline;
    margin-bottom: 0px;
}


.row{
    gap: 6vw;
}

.col{
      
    border:1vw solid white;
    border-width: 5vw;
  
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: 0em;
    margin-top: 0rem;
    height: 100%;
    margin-left: 0em;
    
    
    margin-bottom: 0rem;
    position: relative;
 
}
.container {
    display: flex;
  }
.altera-cor{
 
    color:#000000;
}
header{
    background-color: rgb(255, 255, 255);
    position:fixed;
    right:0px;
    top:0px;
    left:0px;
    display: inline;
    z-index: 2;
    height: 6.5%;
}
.cabecalho{
    display:inline;
    font-size:1rem;
    font-family: Mulish, sans-serif;
    letter-spacing: 0.4px;
    line-height: 24px;
   
}
li{
    display: inline-block;
	margin: 0 10px;
    font-weight: bold;
}
ul li:nth-child(1){
    margin-left:8rem;
}
ul li:nth-child(2){
    margin-left:8rem;
}
ul li:nth-child(3){
    margin-left:8rem;
}
a{
    text-decoration: none;
    color: black;
}

.red{
   width: 4rem;
   transform: translateX(-50%);
   left: 50%;
   
   position: relative;
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 5%;
}
.flex-container {
    display: flex;
    align-items: center; 
    font-size: 2.5vw;
    width: 100%;
    height: 100%;
}

.flex-container div {
    position: relative;
}
.d-flex {
    flex: 1;
    width: 100%; 
        height: auto;
}
.flex-container img {
    flex: 0 0 auto; 
    margin-right: 20px; 
    
}

.flex-container div {
    flex: 1; 
}

#diabetes{
    
    width: 100%;
    
}
#infoBlock{
    position: absolute;
    top: 50%; /* Adjust vertical positioning */
    left: 50%; /* Adjust horizontal positioning */
    transform: translate(-50%, -50%);
    text-align: center; /* Center text within the container */
    color: rgb(0, 0, 0); /* Change text color as needed */
    background-color: white;
    border-radius: 8px;
   
    padding: 24px;
}
.altera-cor2{
    height: 481px;
    margin-top: 17rem;
    color:#ffffff;
   
}
#caneta{
    border-radius: 8px;
    position: relative;
    left: 0%;
    top:5%;
}
#diabetesP{
    font-size: 1rem;
    font-family: Mulish,sans-serif;
}
#sabia{
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 24px;
    font-size: 1.75rem;
    color:#333;
    font-family: Mulish,sans-serif;
    margin-bottom: 1rem;
}
#par{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-size:80%;
}

#cabeca{
    
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    height: 3.5rem;
}

.drop-down{
    display: inline-block;
    position: relative;
    
}
.drop-down-content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.drop-down:hover .drop-down-content{
    display: block;
}
.drop-down-content a {
    display: block;
    color: #000000;
    font-family:'Times New Roman', Times, serif;
    background-color: aliceblue;
    padding: 5px;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.2);
    text-decoration: none;
}
.drop-down-content a:hover{
    color: blue;
}
.carousel-caption {
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
}
.text-Carroussel{
    display: block;
    font-size: 45px;
    letter-spacing: 2px;
    margin-top: 35px;
}
.changeColor{
    color: #022038;
    
}
#changeSize{
   
    font-size: 5vw;
    white-space: nowrap;
}
.rodape{
    background-color:#e2e2e2;
    
   height: 100%;
    
    margin-top: 1%;
    
    font-family: helvetica;
}


.rodape a{
    text-decoration: none;
    color: white;
    color: black;
}
.rodape p{
    margin-bottom: 0px;
    color: black;
    font-size: 1rem;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
   
   
    margin-left: 10%;
  
    align-items: stretch;
   
}
 .rodape-div-2, .rodape-div-3, .rodape-div-4, .rodape-div-5{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 1.5rem;
    color: black;
}
.rodape-direitos{
    font-size: 1rem;
    
    margin-bottom: 0;
    margin-top: 7%;
    margin-right: 0px;
    margin-left: 75%;
    white-space: nowrap;
    transform: translateX(-50%);
    text-align:center;
}

@media screen and (min-width: 768px) and (max-width:1024px)  and (orientation: portrait){
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4,.rodape-div-5{
        width: calc(50% - 20px);
        padding: 10px;
        
    }
    #caneta,#medPressao{
        width: 350px;
        left: 0%;
    }
   
    #infoContainer,#hipContainer{
        left: 0%;
    }
    
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
    h1{
        font-size:4vw;
        font-weight: 400;
    }
    header{
        height: 5%;
    }
    .cabecalho{
        font-size: 3vw;
    }
    body {
        overflow-x: hidden;
      }
      img{
        
        max-width: 100%;
       
      }
      #margem h3{
        font-size: 5rem;
      }
      #margem p{
        font-size: 2.5rem;
      }
      .cabecalho ul {
        list-style-type: none;
      
        justify-content: space-around; 
        padding: 2;
    }
    .header-content {
        display: flex;
        align-items: center; 
        
    }
    .cabecalho li {
        display: inline-block;
       
    }
    .changeSizeMob{
        font-size: 2rem;
        margin-top: 5px;
      }
    
   
      
      #carouselExampleIndicators {
        margin-top: 0px;
        
        height: 100%;
        transform: none;
        position: relative;
     
    }
    .margemImg{
        
    }
 
    
    .carousel-indicators{
        display: inline;
        
       
         justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-left: 45%;
        margin-right: 0px;
        z-index: 1;
      }
      
      .col{
      
        border:5rem solid white;
       border-width: 5vw;
        height: 15em;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        margin-right: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        margin-left: 0rem;
        position: relative;
     
    }
   
    .red{
       width: 5rem;
       transform: translateX(-50%);
       left: 50%;
       
       position: relative;
        display: block;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    ul li:nth-child(1){
        margin-left:25px;
    }
    ul li:nth-child(2){
        margin-left:25px;
    }
    ul li:nth-child(3){
        margin-left:25px;
    }
    .drop-down-content {
       width: 200px;
       font-size: 2rem;
        white-space: nowrap;
        overflow-x: hidden;
        
      }
      .altera-cor2{
     
        color:#ffffff;
      
    }
    .flex-container {
        display: flex;
        align-items: center; 
       
        width: 100%;
        height: 100%;
    }
    #diabetes{
    
        height: 460px;
        
    }
    .rectangle{
        height: auto;
    }
    .rodape{
        background-color:#e2e2e2;
        color: black;
       height: 100%;
         margin-top: 2%;
        
        font-family: helvetica;
    }
    
    .rodape span{
        font-size: 2.5rem;
        color: black;
    }
    .rodape a{
        color: black;
       
    }
   
    .rodape-direitos{
    font-size: 1rem !important;

    margin-left: 65%;
    text-align: center;
    }
    .rodape p{
        font-size: 1.5rem;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
       
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon{
        width: 40px;
        height: 40px;
    }

    
    #sabia{
        font-size:3em;
       
    }
    #par{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        font-size:1.2em;
   
    }
    .flex-container {
        display: flex;
        align-items: center; 
       
        width: 100%;
        height: 100%;
    }
    


}
@media screen and (min-width: 768px) and (max-width:1024px)  and (orientation: landscape){
    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4,.rodape-div-5{
        width: calc(50% - 20px);
        padding: 10px;
        
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
    }
    .container{
        display: block;
    }
   
    body {
        overflow-x: hidden;
      }
      img{
        width: 100%;
        max-width: 100%;
       
      }
      #cabeca{
        height: 4rem;
      }
      h1{
        font-size:4vw;
        
    }
    .cabecalho{
        font-size: 3vw;
    }
      .cabecalho ul {
        list-style-type: none;
      
        justify-content: space-around; 
        padding: 2;
    }
    .header-content {
        display: flex;
        align-items: center; 
       
    }
    .cabecalho li {
        display: inline-block;
    }
      .changeSizeMob{
        font-size: 1.5rem;
        margin-top: 5px;
      }
      #margem{
        margin-top: 15%;
        margin-left: 0%;
      }
      #carouselExampleIndicators {
        margin-top: 0px;
        
        height: 100%;
        transform: none;
        position: relative;
     
    }
    .margemImg{
        
    }
    .carousel-indicators{
        display: inline;
        
       
         justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-left: 41%;
        margin-right: 0px;
        z-index: 1;
      }
      .carousel-indicators li {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 50px;
        height: 5px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        background-color: rgba(255,255,255,.5);
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: 50%;
        transform: translateY(-50%);
       
    }
      
      .col{
      
        border:2px solid white;
     
      
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        margin-right: 0rem;
        margin-top: 0rem;
        height: 10em;
        margin-left: 0rem;
        margin-bottom: 0rem;
        position: relative;
      font-size: 100%;
    }
    .red{
       width: 5rem;
       transform: translateX(-50%);
       left: 50%;
       
       position: relative;
        display: block;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0px;
    }
   
    ul li:nth-child(1){
        margin-left:45px;
    }
    ul li:nth-child(2){
        margin-left:45px;
    }
    ul li:nth-child(3){
        margin-left:45px;
    }
    .drop-down-content {
       width: 200px;
       
        white-space: nowrap;
        overflow-x: hidden;
      }
      .altera-cor2{
     
        color:#ffffff;
      
    }
    .flex-container {
        display: flex;
        align-items: center; 
       
        width: 100%;
        height: 100%;
    }
    #diabetes{
    
       height: 450px;
        
    }
    #caneta,#medPressao{
        left: 0%;
        height: 305px;
        width: 50%;
    }
    #hipContainer,#infoContainer{
        left: 0%;
    }
    .rodape{
        background-color:#e2e2e2;
        color: black;
       height: 90%;
         margin-top: 30px;
        font-size: 14px;
        font-family: helvetica;
    }
    .rodape span{
        font-size: 25px;
        color: black;
    }
    .rodape a{
        color: black;
    }
    
    .rodape-direitos{
        font-size: 1rem !important;
    
        margin-left: 65%;
        text-align: center;
        }
        #sabia{
            font-size: 3rem;
           
        }
        #par{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            font-size:100%;
       
        }
 
   
}

@media screen and (min-width: 0px) and (max-width:767px)  and (orientation: portrait){
     
    .container2 {
        display: block;
        cursor: pointer;
        position:initial;
        margin-right: 5%;
      }
    .cabecalho{
        display: none;
    }
    #cabeca{
        display:inline;
    }
    .header-content{
        justify-content: space-around;
    }
    #login{
        margin-left: 0;
    }
    
    #liLogin{
        display: inline-block;
        background-color: white;
        border: 0;
        margin-right: 0%;
    }
    #rectanglesF,#rectanglesL{
        display: flex;
        flex-direction: column;
        align-items: center;
    
      }
      #diabFlex{
        flex-direction: column;
      }
      #hipFlex{
        flex-direction: column;
      }
      #infoContainer{
        left: 0%;
      }
      #caneta{
        left: 0%;
      }
      #medPressao{
        left: 0%;
      }
      #hipContainer{
        left: 0%;
      }

    #frequent-questions {
       
        
        background-color: #EAE8E8;
        margin-top: 8%;
        transition: height 1.5s ease-in-out;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .expandBackground{
        
        height: 100%!important;
      }
    
      #frequent.center-text {
        display: block; 
        margin: 20px auto;
        font-size: 2rem;
      }
      
    
    .arrow{
        background: url("download.svg") no-repeat center;
        position: absolute;
        right: 2%;
        
        background-size: 10px 5px;
        
        cursor: pointer;
        height: 24px;
        width: 24px;
    }
      .rectangle {
       font-weight: bold;
        background-color:white;
        color: #333;
        text-align: center;
       height: 100%;
        margin-top: 10%;
        width: 60%;
        border-radius: 6px;
        position: relative;
       
        overflow: hidden;
        margin-left: 0%;
        font-size: 3.5vw;
      }
    
    .rotate{
        transform: rotateX(180deg);
    }
    
    
    .hidden {
       max-height: 300px !important;
        opacity: 1;
      }
       
      #additionalText1,#additionalText2,#additionalText3,#additionalText4{
          max-height: 0;
          overflow: hidden;
          color: 565656;
        font-size: 3vw;
        font-weight: 400;
          transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
        }


    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4,.rodape-div-5{
        width: calc(50% - 20px);
        padding: 10px;
       
        
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
        margin-left: 0px;
        gap: 7vw;
    }
    .cabecalho ul {
        list-style-type: none;
      
        justify-content: space-around; 
        padding: 2;
    }
    .header-content {
        display: flex;
        align-items: center; 
        justify-content: space-between;
    }
    h1{
        font-size:4vw;
        display: inline;
        
    }
    .container {
        display: block;
      }
    .cabecalho{
        font-size: 3vw;
    }
    .cabecalho li {
        display: inline-block;
    }
    h3{
        font-size: 15vw;
    }
    body {
        overflow-x: hidden;
       
      }
      img{
        
        max-width: 100%;
       
      }
      .changeSizeMob{
        font-size: 1rem;
        margin-top: 5px;
      }
      #margem{
        margin-top: 15%;
        margin-left: 0%;
      }
      
      #margem p{
        font-size: 4vw;
        
      }
      #carouselExampleIndicators {
        margin-top: 0px;
        
        height: 100%;
        transform: none;
        position: relative;
     
    }
    #cor{
        
    }
    #cabeca{
        justify-content: flex-start;
        
    }
    .margemImg{
       
    }
      .carousel-indicators{
        display: inline;
        
       
         justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-left: 35%;
        margin-right: 0px;
        z-index: 1;
      }
      .col{
      
        border:2vw solid white;
       border-width: 2vw;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        margin-right: 0rem;
        margin-top: 1rem;
        width: 10em;
        height: 12em;
        margin-left: 0rem;
        position: relative;
       
    }
    .row{
        gap: 1%;
    }
    .red{
       width: 3rem;
       transform: translateX(-50%);
       left: 50%;
       
       position: relative;
        display: block;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    ul li:nth-child(1){
        margin-left:0px;
       
    }
    ul li:nth-child(2){
        margin-left:0px;
        
    }
    ul li:nth-child(3){
        margin-left:0px;
       
    }
   
  
    .drop-down-content {
       width: 200px;
       
        white-space: nowrap;
        overflow-x: hidden;
      }
      .altera-cor2{
        
        color:#ffffff;
        
    }
    .flex-container {
        display: flex;
        align-items: center; 
       
        width: 100%;
        height: 100%;
    }
    #diabetes{
        height: 680px;
        
    
        
    }
    #frequent-questions{
        margin-top: 38%;
    }
    #rectanglesF,#rectanglesL{
        align-items:initial;
    }
    #infoBlock{
        padding: 10px;
        width: 80%;
    }
    header{
        height: 5%;
        
    }
    .rodape{
        background-color:#e2e2e2;
        color: black;
       height: 90%;
         margin-top: 30px;
       
        
        font-family: helvetica;
    }
    .rodape span{
        font-size: 6vw;
        color: black;
    }
    .rodape a {
        color: black;
        font-size: 4vw;
    }
    .rodape p{
        color: black;
        font-size: 4vw;
    }
   
    .rodape-direitos{
        font-size: 2vw !important;

    
    margin-left: 54%;
    text-align: center;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: 58%;
        transform: translateY(-50%);
       
    }
    #sabia{
        font-size: 2rem;
    }
    #par{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        font-size:100%;
    }
    




}
@media screen and (min-width: 320px) and (max-width:767px)  and (orientation: landscape){


    .rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4,.rodape-div-5{
        width: calc(50% - 20px);
        padding: 10px;
       
        
    }
    .rodape-div{
        padding: 60px 0px 40px 0px;
        margin-left: 50px;
    }
    #caneta,#medPressao{
        left: 0%;
        height: 160px;
        width: 80%;
    }
    #infoContainer,#hipContainer{
        left: 0%;
    }

    body {
        overflow-x: hidden;
      }
      img{
        width: 100%;
        max-width: 100%;
       
      }
      .cabecalho ul {
        list-style-type: none;
      
        justify-content: space-around; 
        padding: 2;
    }
    .header-content {
        display: flex;
        align-items: center; 
    }
    h1{
        font-size:4vw;
        
    }
    .container {
        display: flex;
      }
    .cabecalho{
        font-size: 3vw;
    }
    .cabecalho li {
        display: inline-block;
    }
      .changeSizeMob{
        font-size: 1.5rem;
        margin-top: 5px;
      }
      #margem{
        margin-top: 15%;
        margin-left: 0%;
      }
      #carouselExampleIndicators {
        margin-top: 0px;
        
        height: 100%;
        transform: none;
        position: relative;
     
    }
    .margemImg{
        
    }
    .carousel-indicators{
        display: inline;
        
       
         justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        margin-left: 41%;
        margin-right: 0px;
        z-index: 1;
      }
      .col{
      
        border:1rem solid white;
        border-width:1rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        margin-right: 0rem;
        margin-left: 0rem;
        margin-top: 0rem;
    }
    .row{
        gap: 3%;
    }
    .red{
       
       position: relative;
        right: -19%;
        justify-content: center;
    }
    ul li:nth-child(1){
        margin-left:25px;
        
    }
    ul li:nth-child(2){
        margin-left:25px;
        
    }
    ul li:nth-child(3){
        margin-left:25px;
       
    }
  
   
    .drop-down-content {
       width: 200px;
       
        white-space: nowrap;
        overflow-x: hidden;
      }
      .altera-cor2{
     
        color:#ffffff;
       
    }
    .flex-container {
        display: flex;
        align-items: center; 
       
        width: 100%;
        height: 100%;
    }
    #diabetes{
    
        height: 580px;
        
    }
    .rodape{
        background-color:#e2e2e2;
        color: black;
       height: 90%;
         margin-top: 30px;
        font-size: 14px;
        
        font-family: helvetica;
    }
    .rodape span{
        font-size: 18px;
        color: black;
        margin-left: 25px;
    }
    .rodape a {
        color: black;
        font-size: 15px;
        margin-left: 5px;
    }
    .rodape p{
        color: black;
        font-size: 15px;
        margin-left: 10px;
    }
   
    .rodape-direitos{
        font-size: 0.6rem !important;

    
    margin-left: 70% !important;
    text-align: center;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: 58%;
        transform: translateY(-50%);
       
    }
    

    #sabia{
        font-size: 4vw;
    }
    #par{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        font-size: 2vw;
    }
}



