
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  
  background-image: linear-gradient(to bottom right, #111E25 0%, #111 100%);
  
  font-family: "Lato", sans-serif;
}


option{
  color: #111;
}
.form-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 20em;
  text-align: center; 
 
  
}
.form-center form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input,
select {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  width: 70vw;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}
select{
  transform: translate(-50%,-325%);
}

input, select {
  top: 100%;
  padding: 0.25rem 0;
  border: 0;
  border-bottom: 1px solid #bb1515;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.125rem;
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3);
}

.label-text {
  position: fixed;
 top: 95%;
  right: -8%;
 
  transform: translate(-50%, -300%);
  width: 31vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 1;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s;
  z-index: 2;
}
.label-large{
  top:95%;
  right: -13%;
  width: 27.5vw;
}
.label-gen{
  top: 95%;
right: -7%;
width: 32.5vw;
}
.label-age{
  top: 95%;
  right: -5%;
  width: 33vw;
}
.label-height{
  top: 95%;
  right: -7.5%;
}
.label-disease{
  top: 95%;
  width: 31vw;
}
.label-pa{
  top: 95%;
  right: -9%;
  width: 30vw;
}
.label-weight{
  top: 95%;
  right: -6%;
  width: 32vw;
}
button{

 position: fixed;
 left: 55vh;
width: 8vh;
height: 5vh;
top: 24vh;
  background-color: red;
  border: none;
  
  
}
.form-step {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: block;
  
   
}

.form-step.active {
  visibility: visible;
  opacity: 1;
  display: block;
}
.tip {
  position: fixed;
  top: 80%;
  left: 41%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 1;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity 0.25s 0.5s;
}

.question-icon {

  
  cursor: pointer;
position: fixed;
top: 22.5%;

right: 22vw;

  color: #007bff; 
  
}
.question-height{
  top: 3.9vw;
  right: 23vw;
}
.question-weight{
  top:3.9vw;

  right: 23vw;
}
.question-pa{
  top: 3.9vw;
  
  right: 22vw;
}

.info-tooltip {
  display: none;
  position:absolute;
  background-color: #007bff; 
  color: #fff; 
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  right: 6vw;
  top: 21%;
  width: 15vw;
  transform: translateY(-50%);

  
}

/* Show the information tooltip on hover */
.question-icon:hover + .info-tooltip {
  display: block;
}
.nav-dots{
  display: flex;
  justify-content: center; /* To center the dots horizontally */
  
}
.nav-dot {
  cursor: pointer;
  position: fixed;
  padding: 0.625rem 1.25rem 0.625rem 0.625rem;
  
  top: 52%;
  right: 1.25rem;
 
 
}
.nav-dot:before {
  content: "";
  
  border-radius: 50%;
  width: 0.375rem;
  height: 0.375rem;
  margin-right: 0.625rem;
  position: fixed;
  background-color: #16272f;
  border: 0;
  transition: all 0.25s;
}
.nav-dot.active-dot:before,.nav-dot:hover:before {
  pointer-events: none;
  width: 0.625rem;
  height: 0.625rem;
  margin-top: -0.125rem;
  margin-left: -0.125rem;
  background-color: #a41212;
}
#one{
  margin-top: -4%;
}
#two{
  margin-top: -3%;
}
#three{
  margin-top: -2%;
}
#four{
  margin-top: -1%;
}
#five{
  margin-top: 0%;
}
#six{
  margin-top: 1%;
}
#seven{
  margin-top: 2%;
}
#eight{
  margin-top: 3%;
}
#nine{
  margin-top: 4%;
}
