<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diabetes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header id="cabeca">

        <div class="header-content">
            <h1>Prevent Health</h1>
            <nav class="cabecalho">
                <ul class="cabecalho">
                    <div class="drop-down">
                        <li class="cabecalho"><a href="#">Planos</a></li>
                        <div class="drop-down-content">
                            <a href="{{ url_for('hipertensao') }}">Hipertensão</a>
                            <a href="{{ url_for('diabetes') }}">Diabetes</a>
                            <a href="{{ url_for('dislipidemia') }}">Dislipidemia</a>
                        </div>
                    </div>
                    <li class="cabecalho"><a href="#">Sobre nós</a></li>
                    <li class="cabecalho"><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div id="cor">
            <div id="carouselExampleIndicators" class="carousel slide background-image" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>

                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid margemImg"
                            src="{{ url_for('static', filename='medicaIAres.jpg') }}" alt="Primeiro slide">
                        <div class="carousel-caption changeColor">

                            <h3 class="changeSizeMob">Desde 2023 ajudando na prevenção de doenças de forma eficiente
                                <br>e aliando a saúde
                                com
                                tecnologia.
                            </h3>
                            <p id="changeSize">Quem conhece confia</p>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid margemImg"
                            src="{{ url_for('static', filename='testeSimbolo.jpg') }}" alt="Segundo slide">
                        <div class="carousel-caption">

                            <h3 class="changeSizeMob">Modelos disponiveis:</h3>
                            <ol>
                                <li class="text-Carroussel changeSizeMob ">Diabetes</li>
                                <li class="text-Carroussel changeSizeMob">Hipertensão</li>
                                <li class="text-Carroussel changeSizeMob">Dislipidemia</li>
                            </ol>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid margemImg"
                            src="{{ url_for('static', filename='dedoMedicores.jpg') }}" alt="Terceiro slide">
                        <div class="carousel-caption changeColor">

                            <h3 class="changeSizeMob">Nosso Modelo trabalha com <br>variáveis de facil acesso</h3>

                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>



        </div>

        <div id="margem">
            <h3 class="justify-content-center d-flex altera-cor">Diferencias</h3>
            <p class="justify-content-center d-flex altera-cor">De uma olhada nos nossos diferencias</p>
        </div>

        <div class="container text-center ">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <div class="col red-text"> <img src="{{ url_for('static', filename='cpu.png') }}" class="red" />Novas
                    tecnologias
                </div>
                <div class="col red-text"><img src="{{ url_for('static', filename='target.png') }}" class="red" />99% de
                    Taxa de
                    Acerto</div>
                <div class="col red-text "><img src="{{ url_for('static', filename='doctor.png') }}"
                        class="red" />Assistência
                    médica especializada</div>
            </div>
        </div>
        <section class="altera-cor2">
            <div class="flex-container">
                <img src="{{ url_for('static', filename='diabetes-5b.jpg') }}" class="d-flex" id="diabetes" />
                <div>
                    <h2 class="justify-content-center d-flex altera-cor" id="sabia">Voce sabia?</h2>
                    <p class="justify-content-center d-flex altera-cor" id="par">No mundo existem aproximadamente 540
                        milhões de
                        pessoas diagnosticadas com um dos 3 tipos
                        existentes de diabetes, no brasil são 17 milhões, e esses numeros estão em crescimento. De
                        acordo com o Atlas da Diabetes, da Federação Internacional de Diabetes, em 2021, 6,7 milhões de
                        pessoas morreram no mundo em decorrência da doença e muitas dessas mortes poderiam ter sido
                        evitadas com a prevenção correta.</p>
                </div>
            </div>
        </section>

    </main>
    <footer class="rodape" id="contato">
        <div class="rodape-div">



            <div class="rodape-div-2">
                <div class="rodape-div-2-coluna">

                    <span><b>A Empresa</b></span>
                    <p>Sobre nós</p>

                </div>
            </div>

            <div class="rodape-div-3">
                <div class="rodape-div-3-coluna">

                    <span><b>Serviços </b></span>
                    <p><a href="#empresa">Diabetes</a></p>
                    <p><a href="#servicos">Hipertensão</a></p>
                    <p><a href="#sobre">Dislipidemia</a></p>
                </div>
            </div>

            <div class="rodape-div-4">
                <div class="rodape-div-4-coluna">

                    <span><b>Contatos</b></span>
                    <p>contato@email.com</p>
                    <p>+55 13 99999-9999</p>
                </div>
            </div>

            <div class="rodape-div-5">
                <div class="rodape-div-5-coluna">

                    <span><b>Outros</b></span>
                    <p>Termos de uso</p>
                    <p>Politica de privacidade</p>
                </div>
            </div>


        </div>
        <p class="rodape-direitos">Copyright © 2023 – Todos os Direitos Reservados.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</body>

</html>